body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
input,
textarea {
  background-color: rgba(207, 226, 255, 0.099) !important;
  color: #fff;
}
